body {
  font-family: Century, serif;
  color: #333333;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 6em;
  margin: auto;
  background-color: #ffffff;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
}

.container {
  background: rgba(202, 202, 202, 0.15);
  padding: 3vw;
  border-radius: 5vw;
}

#str {
  font-family: Georgia, serif;
  font-style: italic;
  font-weight: bold;
  font-size: 1.1vw;
  padding: 1vw 0vw;
}

img {
  margin: auto;
  width: 12vw;
  height: auto;
}

input[type="text"] {
  background-color: #ffe5e5;
  color: red;
  font-family: "Courier New", Courier, monospace;
  font-size: 2vw;
  border: 1px dotted rgb(255, 62, 62);
  border-radius: 4px;
  width: 8%;
  padding: 1vw;
  text-align: center;
  font-weight: bold;
}

input[type="submit"] {
  background-color: red;
  padding: 0.5vw;
  margin-top: 0.2vw;
  width: 13%;
  border: 0px;
  color: white;
  border-radius: 4px;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
}

#attempts {
  color: red;
  font-weight: bold;
}
